body {
  font-family: 'Fira Sans', sans-serif;
}

h1,
h2,
h4,
h5,
h6 {
  font-family: 'Merriweather', serif;
  font-weight: 700;
}

h3{
  font-family: 'Merriweather', serif;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;

}

.ingredients{
  display: flex;
  flex-wrap: wrap;
  padding: 2%;
}

.width {
  width: 100px;
  height: auto;
}

.picture {
  float: right;
}